# ignore everything
*
!*/
temp/

# unignore github and curseforge  files
!.gitignore
!config.json
!.gitattributes
!.github/**
!pakku**
!actions/

!/config/**
!/defaultconfigs/**
!/kubejs/**
!/mods/**
!index.toml
!pack.toml
/mods/.index/**
!.packwizignore
/config/jei/world/local/**
/config/oculus.properties